<div class="card-container">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap>
    <mat-card appearance="outlined" fxFlex.gt-sm="48" fxFlex="100">
      <mat-card-header>
        <mat-card-title>Http Codes Over Time</mat-card-title>
        <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <mat-divider class="margin-10-tb">
        </mat-divider>
        <div echarts [options]="options2" [theme]="isDarkMode ? 'dark': ''" class="chart" *ngIf="isDataAvailable"></div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px" class="flex-full" *ngIf="!isDataAvailable">
          <div class="mat-subtitle-1">No results to display!</div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" fxFlex.gt-sm="48" fxFlex="100" ngClass.lt-md="margin-10-t">
      <mat-card-header>
        <mat-card-title>Response Codes</mat-card-title>
        <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <mat-divider class="margin-10-tb">
        </mat-divider>
        <div echarts [options]="options" [theme]="isDarkMode ? 'dark': ''" class="chart" *ngIf="isDataAvailable"></div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px" class="flex-full" *ngIf="!isDataAvailable">
          <div class="mat-subtitle-1">No results to display!</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
